# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/
ENV/
env/

# macOS files
.DS_Store

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and local config
*.log
*.sqlite
*.db

# Python environment files
*.env
*.local
secrets.env

# Streamlit cache
.streamlit/
.cache/

